body {
    display: grid;
    place-items: center;
    background-color: dimgrey;
    min-height: 100dvh;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
    background-color: rgb(177, 176, 176);
    padding: 20px;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    box-sizing: border-box;
    text-align: center;
    display: grid;
    place-items: center;
    align-content: center;
    border-radius: 10px;
    border-color: black;
    row-gap: 15px;
}

input {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    border-color: black;
    color: white;
    box-sizing: border-box;
    max-width: 100%;
}

.sbmt {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    border-color: black;   
    color: white; 
}

.sbmt::hover {
    background-color: rgb(131, 131, 131);
    border-radius: 5px;
    border-color: black;    
}
        
textarea::placeholder {
    color: black;
}

textarea {
    width: 100%;
    height: 100%;
    max-height: fit-content;
    max-width: 800px;
    min-height: 200px;
    min-width: fit-content;
    box-sizing: border-box; 
    display: flex;
    background-color: grey; 
    font: black;
    resize: none;
    overflow: auto;
    overflow-wrap: break-word;
}